<script>
import { onMount } from "svelte";
import { canScrollPage } from "../store";
import BackButton from "../BackButton.svelte";
import WebGalleryEntry from "$/components/WebGalleryEntry.svelte";

import crushesPreviewSrc from "$/assets/web-screenshots/crushes.png?as=screenshot";
import dream2learnPreviewSrc from "$/assets/web-screenshots/dream2learn.png?as=screenshot";

onMount(() => {
    $canScrollPage = true;
});
</script>

<BackButton />

<gallery->
    <!-- <WebGalleryEntry
        url="https://web.archive.org/web/20240524125503/https://crushes.us/"
        preview={crushesPreviewSrc}
        title="Crushes"
    /> -->

    <WebGalleryEntry
        url="https://dream2learn.github.io/"
        preview={dream2learnPreviewSrc}
        title="Dream2Learn"
    />
</gallery->
